<p>welcome to my {{work}}</p>

<div [hidden]= "hideName">
    <span My Name :[innerText] = "myname"></span>
</div>

<button (click)="toggle()">Click me</button>

<div [ngStyle]= "{'background-color':topics.topics_covered? 'cyan':'red'}" >Topics Covered : 
{{topics.topics_covered!==null && topics.topics_covered!== undefined ? topics.topics_covered : 'No topics covered'}}
</div>
<div *ngIf = "topics.topics_covered && topics.topics_covered > 0">
    Topics List 
    
    <app-topics-lst [topics] = 'topiclist'
    (topicSelected)="selecttopic($event)"></app-topics-lst>
    
</div>
<div *ngIf = "topicSelected">
    {{topicSelected | json}}
</div>