<p>welcome to my {{work}}</p>

<div [hidden]= "hideName">
    <span My Name :[innerText] = "myname"></span>
</div>

<button (click)="toggle()">Click me</button>

<div [ngStyle]= "{'background-color':topics.topics_covered? 'cyan':'red'}" >Topics Covered : 
{{topics.topics_covered!==null && topics.topics_covered!== undefined ? topics.topics_covered : 'No topics covered'}}
</div>
<div *ngIf = "topics.topics_covered && topics.topics_covered > 0">
    Topics List 
    <table>
        <tr><th>Index</th>
            <th>Even/Odd</th>
            <th>Topic name</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Duration</th>
        </tr >
        <tr [ngClass]="e? 'even':'odd'"
        *ngFor="let topic of topiclist;let e=even; let o=odd; let i = index">
            <td>{{i+1}}</td>
            <td>{{e?"even":"odd"}}
            <td>{{topic.name}}</td>
            <td>{{formatTime(topic.start_time)}}</td>
            <td>{{formatTime(topic.end_time)}}</td>
            <td>{{topic.duration}}</td>
        </tr>
    </table>
</div>